<?xml version="1.0" encoding="utf-8"?>

<!-- 
    This URDF uses the Denavit-Hartenberg (DH) conventions to place the reference frames of the joints.
    It uses offsets to correctly place the visual and collision meshes.
-->

<!-- **************************************** FANUC M-20iA URDF **************************************** -->

<robot name="M20iA" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- **************************************** VARIABLES **************************************** -->

    <!-- This variable contains the DH parameters -->
    <xacro:property name="dhparam" value="${dict(
        a=      [0.15,  0.79,   0.15,   0,      0,      0],
        d=      [0.525, 0,      0,      0.86,   0,      0.1],
        alpha=  [pi/2,  0,      pi/2,   -pi/2,  pi/2,   0],
        theta=  [0,     pi/2,   0,      0,      0,      0]
        )}"
    />

    <!-- This variable contains the name of the robot description package -->
    <xacro:property name="NAME_OF_PACKAGE" value="'fanuc_description'" />

    <!-- This variable contains the name of the robot meshes -->
    <xacro:property name="MESHES_DIR" value="${NAME_OF_PACKAGE}/meshes" />

    <!-- This variable contains the name of the robot collision meshes -->
    <xacro:property name="COLLISION_DIR" value="${MESHES_DIR}/collision" />
    
    <!-- This variable contains the name of the robot visual meshes -->
    <xacro:property name="VISUAL_DIR" value="${MESHES_DIR}/visual" />

    <!-- **************************************** MACROS **************************************** -->

    <!-- Macro for creating the virtual joint -->
    <xacro:macro name="create_virtual_joint" params="child_link:='base_link'" >
        <link name="world" />

        <joint name="virtual_joint" type="fixed">
            <parent link="world"/>
            <child link="${child_link}"/>
        </joint>
    </xacro:macro>

    <!-- Macro for creating a joint -->
    <xacro:macro name="create_joint" params="index joint_name:='' joint_type:='revolute' xyz:='0 0 0' rpy:='0 0 0' parent_link child_link axis:='0 0 1' lower_limit:=${-pi} upper_limit:=${pi} effort_limit:=0 velocity_limit:=${pi}">
        <xacro:if value="${joint_name == ''}" >
            <xacro:property name="joint_name" value="joint${index}" />
        </xacro:if>
        
        <joint name="${joint_name}" type="${joint_type}">
            <!-- joint properties -->
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent_link}" />
            <child link="${child_link}" />
            <axis xyz="${axis}" />
            <limit lower="${lower_limit}" upper="${upper_limit}" velocity="${velocity_limit}" effort="${effort_limit}" />
        </joint>
    </xacro:macro>

    <!-- Macro for creating the flange -->
    <xacro:macro name="create_flange" params="flange_name:='flange' xyz:='0 0 0' rpy:='0 0 0' parent_link:='link6'" >
        <link name="${flange_name}" />

        <joint name="${flange_name}" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent_link}" />
            <child link="${flange_name}" />
        </joint>
    </xacro:macro>

    <!-- Macro for creating a link and a joint -->
    <xacro:macro name="link_joint" params="index xyz:='0 0 0' rpy:='0 0 0' link_name:='' joint_name:='' joint_type:='revolute' parent_link:='' child_link:='' joint_origin_xyz:='0 0 0' joint_origin_rpy:='0 0 0' lower_limit:=${-pi} upper_limit:=${pi} effort_limit:=0 velocity_limit:=${pi}">

        <xacro:if value="${link_name == ''}" >
            <xacro:if value="${index == 0}" >
                <xacro:property name="link_name" value="base_link" />
            </xacro:if>
            <xacro:unless value="${index == 0}" >
                <xacro:property name="link_name" value="link${index}" />   
            </xacro:unless>
        </xacro:if>

        <link name="${link_name}">
            <!-- link properties -->

            <visual>
                <origin xyz="${xyz}" rpy="${rpy}" />
                <geometry>
                    <mesh filename="package://${VISUAL_DIR}/link_${index}.dae" />
                </geometry>
                <material name="" />
            </visual>

            <collision>
                <origin xyz="${xyz}" rpy="${rpy}" />
                <geometry>
                    <mesh filename="package://${COLLISION_DIR}/link_${index}.stl" />
                </geometry>
            </collision>

        </link>

        <xacro:if value="${index > 0}" >
            <xacro:if value="${parent_link == ''}" >
                <xacro:if value="${index == 1}" >
                    <xacro:property name="parent_link" value="base_link" />
                </xacro:if>
                <xacro:unless value="${index == 1}" >
                    <xacro:property name="parent_link" value="link${index - 1}" />   
                </xacro:unless>
            </xacro:if>

            <xacro:if value="${child_link == ''}" >
                <xacro:property name="child_link" value="${link_name}" />   
            </xacro:if>

            <xacro:create_joint index="${index}" joint_type="${joint_type}" xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}" parent_link="${parent_link}" child_link="${child_link}" lower_limit="${lower_limit}" upper_limit="${upper_limit}" effort_limit="${effort_limit}" velocity_limit="${velocity_limit}"/>
        </xacro:if>

    </xacro:macro>
    
    <!-- **************************************** LINKS **************************************** -->

    <!-- ******************** Used for fixing robot to Gazebo 'base_link' ******************** -->
    <!-- <xacro:create_virtual_joint /> -->

    <!-- ******************** BASE LINK  ******************** -->
    <xacro:link_joint index="0" />

    <!-- ******************** LINK 1 ******************** -->
    <xacro:link_joint index="1"
    lower_limit="-3.23" upper_limit="3.23" effort_limit="12" velocity_limit="3.4" />

    <!-- ******************** LINK 2 ******************** -->
    <xacro:link_joint index="2" xyz="${-dhparam['a'][0]} ${-dhparam['d'][0]} 0" rpy="${-pi/2} 0 0"
    joint_origin_xyz="${dhparam['a'][0]} 0 ${dhparam['d'][0]}" joint_origin_rpy="${dhparam['alpha'][0]} 0 ${dhparam['theta'][0]}"
    lower_limit="-1.75" upper_limit="2.79" effort_limit="12" velocity_limit="3.05" />

    <!-- ******************** LINK 3 ******************** -->
    <xacro:link_joint index="3" xyz="${-dhparam['a'][1] - dhparam['d'][0]} ${dhparam['a'][0]} 0" rpy="${-pi/2} 0 ${-pi/2}"
    joint_origin_xyz="0 ${dhparam['a'][1]} ${dhparam['d'][1]}" joint_origin_rpy="${dhparam['alpha'][1]} 0 ${dhparam['theta'][1]}"
    lower_limit="-3.23" upper_limit="4.77" effort_limit="12" velocity_limit="3.14" />

    <!-- ******************** LINK 4 ******************** -->
    <xacro:link_joint index="4" xyz="${dhparam['a'][2] +dhparam['a'][1] +dhparam['d'][0]} 0 ${-dhparam['a'][0]}" rpy="0 ${-pi/2} 0"
    joint_origin_xyz="${dhparam['a'][2]} 0 ${dhparam['d'][2]}" joint_origin_rpy="${dhparam['alpha'][2]} 0 ${dhparam['theta'][2]}"
    lower_limit="-3.49" upper_limit="3.49" effort_limit="20" velocity_limit="7.07" />

    <!-- ******************** LINK 5 ******************** -->
    <xacro:link_joint index="5" xyz="0 ${dhparam['d'][3] + dhparam['a'][0]} ${-dhparam['a'][2] -dhparam['a'][1] -dhparam['d'][0]}" rpy="0 0 ${-pi/2}"
    joint_origin_xyz="0 ${dhparam['a'][3]} ${dhparam['d'][3]}" joint_origin_rpy="${dhparam['alpha'][3]} 0 ${dhparam['theta'][3]}"
    lower_limit="-2.44" upper_limit="2.44" effort_limit="20" velocity_limit="7.07" />

    <!-- ******************** LINK 6 ******************** -->
    <xacro:link_joint index="6" xyz="0 0 ${dhparam['d'][5]}" rpy="0 0 0"
    joint_origin_xyz="${dhparam['a'][4]} 0 ${dhparam['d'][4]}" joint_origin_rpy="${dhparam['alpha'][4]} 0 ${dhparam['theta'][4]}"
    lower_limit="-4.71" upper_limit="4.71" effort_limit="20" velocity_limit="10.73" />

    <!-- ******************** FLANGE ******************** -->
    <xacro:create_flange xyz="${dhparam['a'][5]} 0 ${dhparam['d'][5]}"/>

</robot>
